{% extends "layout.html.twig" %}
{% set item = 'dashboard' %}
{% block title %}{{ 'app.dashboard'|trans }}{% endblock %}

 {% block breadcrumb %}
     <li class="active">Tableau de bord</li>
 {% endblock %}


