{% extends 'form.html.twig' %}

{% block content %}
    <h1>Car edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Edit" />
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var $brandSelect = $('#slcar_brand');
        $brandSelect.change(function() {
            var $form = $(this).closest('form');
            var data = $form.serialize();
            //data[$brandSelect.attr('name')] = $brandSelect.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#slcar_model').replaceWith($(html).find('#slcar_model'));
                }
            });
        });
    </script>
{% endblock javascripts %}
